<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Transactions</h1>
</div>
<!-- Content Row -->
<div class="row">

    <!-- Balance Card BEGIN -->
    {{> balanceCard this }}
    <!-- Balance Card END-->

    <!-- Buy  Card  BEGIN -->
    {{> buyCard this }}
    <!-- Buy Card END-->

    <!-- Sell Card BEGIN -->
    {{> sellCard this }}
    <!-- Sell Card END-->

    <!-- Benefits Card BEGIN -->
    {{> benefitsCard this }}
    <!-- Balance Card END -->

</div>

<!-- Content Row -->
<div class="row">
    <div class="col-xl-12 col-lg-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
            </div>
            <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="transactionsTable" width="100%"
                                    cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-sort="descending"
                                                aria-label="Date: activate to sort column ascending"
                                                style="width: 100px;">
                                                Date</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Symbol: activate to sort column ascending"
                                                style="width: 100px;">
                                                Symbol</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Name: activate to sort column ascending"
                                                style="width: 325px;">Name</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Type: activate to sort column ascending"
                                                style="width: 100px;">Type</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Units: activate to sort column ascending"
                                                style="width: 76px;">Units</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Price: activate to sort column ascending"
                                                style="width: 100px;">Price</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Total: activate to sort column ascending"
                                                style="width: 100px;">Total</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">Date</th>
                                            <th rowspan="1" colspan="1">Symbol</th>
                                            <th rowspan="1" colspan="1">Name</th>
                                            <th class="text-center" rowspan="1" colspan="1">Type</th>
                                            <th class="text-center" rowspan="1" colspan="1">Units</th>
                                            <th class="text-center" rowspan="1" colspan="1">Price</th>
                                            <th class="text-center" rowspan="1" colspan="1">Total</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{#each transactions }}
                                        <tr role="row" class="odd">
                                            <td class="text-center">{{dateFormat this.date}}</td>
                                            <td class="text-center">{{this.stock.symbol}}</td>
                                            <td>{{this.stock.name}}</td>
                                            <td class="text-center">{{this.type}}</td>
                                            <td class="text-right">{{this.units}}</td>
                                            <td class="text-right">{{roundNumber2 this.price}} EUR</td>
                                            <td class="text-right">{{roundNumber2 this.signedTotal}} EUR</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS CDNs -->
{{> jsCdn this }}

<!-- JS Data Table -->
{{> jsDataTables this }}

<!-- Page level plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


<script src="/javascripts/private.js"></script>
<script src="/javascripts/transaction.js"></script>